<% @title_tag = "New User Registration" %>
<% @body_id = "user-register" %>

<% # Title tag %>
<% content_for :head do
  @title_tag
end %>

<% # Body tag ID %>
<% content_for :body_id do
  @body_id
end %>

<section>
	<article>

	  <div class="container narrow">
		<div class="row">
		  <div class="col-md-12">
			<h1>New User Registration</h1>

			<% # Form error validations %>
			
		  </div>
		</div>

		<div class="row">
			<form id="login-register-form" action="/users" method="post">
			  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
			  <input type="hidden" name="user[user_type]" value="regular" />
			  <!-- first name -->
			  <div class="col-md-2">
				<label for="first_name">First Name</label>
			  </div>
			  <div class="col-md-10">
				<input type="text" name="user[first_name]" />
				<% if @user.errors.any? %>
					<% @user.errors["first_name"].each_with_index do |error,i| %>
						<% if i==0 %>
							<p class="error">First name <%= error %></p>
						<% end %>
				  	<% end %>
				<% end %>
			  </div>
			  <!-- last name -->
			  <div class="col-md-2">
				<label for="last_name">Last Name</label>
			  </div>
			  <div class="col-md-10">
				<input type="text" name="user[last_name]" />
				<% if @user.errors.any? %>
					<% @user.errors["last_name"].each_with_index do |error,i| %>
						<% if i==0 %>
							<p class="error">Last name <%= error %></p>
						<% end %>
				  	<% end %>
				<% end %>
			  </div>
			  <!-- email -->
			  <div class="col-md-2">
				<label for="email">Email</label>
			  </div>
			  <div class="col-md-10">
				<input type="text" name="user[email]" />
				<% if @user.errors.any? %>
					<% @user.errors["email"].each_with_index do |error,i| %>
						<% if i==0 %>
							<p class="error">Email <%= error %></p>
						<% end %>
				  	<% end %>
				<% end %>
			  </div>
			  <!-- password -->
			  <div class="col-md-2">
				<label for="password">Password</label>
			  </div>
			  <div class="col-md-10">
				<input type="password" name="user[password]" />
				<% if @user.errors.any? %>
					<% @user.errors["password"].each_with_index do |error,i| %>
						<% if i==0 %>
							<p class="error">Password <%= error %></p>
						<% end %>
				  	<% end %>
				<% end %>
			  </div>
			  <!-- password confirmation -->
			  <div class="col-md-2">
				<label for="password_confirmation">Password Confirmation</label>
			  </div>
			  <div class="col-md-10">
				<input type="password" name="user[password_confirmation]" />
				<% if @user.errors.any? %>
					<% @user.errors["password_confirmation"].each_with_index do |error,i| %>
						<% if i==0 %>
							<p class="error">Password confirmation <%= error %></p>
						<% end %>
				  	<% end %>
				<% end %>
			  </div>

			  <div class="col-md-10 col-md-offset-2">
				<input type="submit" name="Create" />
			  </div>

			</form>
		</div>

		<div class="row">
		  <div class="col-md-12">
			<h2><a href="/users/login">Already have an account? Sign in here!</a></h2>
		  </div>
		</div>

	  </div>

	</article>

</section>